Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
numpy
face-recognition==1.3.0
opencv-python==4.8.1.78
C:\Users\LibraryUser\Downloads\p1\Student-face-recognize-AI-app\face_recognition-1.3.0-py2.py3-none-any.whl